In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path = 'elektrik_veri.xlsx'
xls = pd.ExcelFile(file_path)

In [4]:
print("Sayfa isimleri:", xls.sheet_names)

Sayfa isimleri: ['Tahsilat', 'Tahsilat 1', 'Tahakkuk', 'Tahakkuk 1', 'Tahakkuk 2']

In [47]:
df_tahsilat = pd.read_excel(xls, sheet_name='Tahsilat')
df_tahsilat_1 = pd.read_excel(xls, sheet_name='Tahsilat 1')
df_tahakkuk = pd.read_excel(xls, sheet_name='Tahakkuk')
df_tahakkuk_1 = pd.read_excel(xls, sheet_name='Tahakkuk 1')
df_tahakkuk_2 = pd.read_excel(xls, sheet_name='Tahakkuk 2')

In [6]:
print(f"Tahsilat: {df_tahsilat.shape}")
print(f"Tahsilat 1: {df_tahsilat_1.shape}")
print(f"Tahakkuk (Hamamözü): {df_tahakkuk.shape}")
print(f"Tahakkuk 1 (Gümüşhacıköy): {df_tahakkuk_1.shape}")
print(f"Tahakkuk 2 (Göynücek): {df_tahakkuk_2.shape}")

Tahsilat: (636993, 9)
Tahsilat 1: (917632, 22)
Tahakkuk (Hamamözü): (124818, 10)
Tahakkuk 1 (Gümüşhacıköy): (765657, 10)
Tahakkuk 2 (Göynücek): (295223, 10)

In [7]:
df_tahsilat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  datetime64[ns]
 5   Nakit Tahsilat         523 non-null     float64
 6   Mahsuben Tahsilat      7542 non-null    float64
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 43.7+ MB

In [9]:
df_tahsilat.head()

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
0,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2023-11-06,NaN,8648.95,NaN,NaN
1,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-06-26,NaN,762.40,NaN,NaN
2,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-07-10,NaN,311.60,NaN,NaN
3,PTT,PTT/PV,TAŞOVA,4254955886,2023-01-19,NaN,NaN,NaN,130.5
4,PTT,PTT/PV,TAŞOVA,4254955886,2023-02-17,NaN,NaN,NaN,117.0

In [10]:
df_tahsilat.describe()

,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
count,6.369930e+05,636993,523.000000,7542.000000,0.0,628933.000000
mean,5.019884e+09,2024-03-05 09:26:07.644856320,694.966635,6180.182282,NaN,372.629109
min,1.758320e+05,2023-01-01 00:00:00,7.450000,-34508.950000,NaN,0.010000
25%,2.532887e+09,2023-07-28 00:00:00,425.330000,44.477500,NaN,120.000000
50%,5.008502e+09,2024-02-26 00:00:00,524.670000,290.410000,NaN,208.000000
75%,7.525722e+09,2024-09-30 00:00:00,688.830000,2729.110000,NaN,322.000000
max,9.999600e+09,2025-05-31 00:00:00,11373.740000,399526.780000,NaN,606473.800000
std,2.884435e+09,NaN,758.319428,23828.022593,NaN,3265.430202

In [13]:
df_tahsilat.isnull().sum()

Şube                          0
Kasa                          0
İlçe                          0
Söz.hsp.(bağımsız)            0
Tahsilat Tarihi               0
Nakit Tahsilat           636470
Mahsuben Tahsilat        629451
Kredi Kartı Tahsilatı    636993
Banka Tahsilatı            8060
dtype: int64

In [15]:
odeme_sutunlari = ['Nakit Tahsilat', 'Mahsuben Tahsilat', 'Kredi Kartı Tahsilatı', 'Banka Tahsilatı']
df_tahsilat[odeme_sutunlari] = df_tahsilat[odeme_sutunlari].fillna(0)
print("Boş değerlerin güncel durumu:")
print(df_tahsilat[odeme_sutunlari].isna().sum())

Boş değerlerin güncel durumu:
Nakit Tahsilat           0
Mahsuben Tahsilat        0
Kredi Kartı Tahsilatı    0
Banka Tahsilatı          0
dtype: int64

In [16]:
df_tahsilat['Toplam_Tahsilat'] = df_tahsilat[odeme_sutunlari].sum(axis=1)

print("\nİlk 5 satırın özeti:")
print(df_tahsilat[odeme_sutunlari + ['Toplam_Tahsilat']].head())

İlk 5 satırın özeti:
   Nakit Tahsilat  Mahsuben Tahsilat  Kredi Kartı Tahsilatı  Banka Tahsilatı  \
0             0.0            8648.95                    0.0              0.0
1             0.0             762.40                    0.0              0.0
2             0.0             311.60                    0.0              0.0
3             0.0               0.00                    0.0            130.5
4             0.0               0.00                    0.0            117.0

   Toplam_Tahsilat
0          8648.95
1           762.40
2           311.60
3           130.50
4           117.00

In [17]:
df_tahsilat_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  float64
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  float64
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  float64
 8   Son Ödeme (1)                         20902 non-null   float64
 9   Son Ödeme (2)                         21664 non-null   float64
 10  Son Ödeme (3)                         18893 non-null   float64
 11  Son Ödeme (4)                         16995 non-null   float64
 12  Son Ödeme (5)                         7323 non-null    float64
 13  Son Ödeme (6-10)                      45708 non-null   float64
 14  Son Ödeme (10-20)                     48281 non-null   float64
 15  Son Ödeme (20-30)                     29005 non-null   float64
 16  Son Ödeme (30-60)                     23030 non-null   float64
 17  Son Ödeme (60-90)                     7184 non-null    float64
 18  Son Ödeme (90-120)                    3820 non-null    float64
 19  Son Ödeme (120-150)                   2302 non-null    float64
 20  Son Ödeme (150-180)                   1551 non-null    float64
 21  Son Ödeme (180+)                      4827 non-null    float64
dtypes: float64(17), int64(1), object(4)
memory usage: 154.0+ MB

In [18]:
df_tahsilat_1.head()

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
0,OCK 2023,AMASYA,GÖYNÜCEK,9374624783,Mesken,5.03,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,OCK 2023,AMASYA,GÖYNÜCEK,236184905,Mesken,26.46,0.06,26.40,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OCK 2023,AMASYA,GÖYNÜCEK,9657731015,Mesken,121.53,NaN,NaN,NaN,121.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OCK 2023,AMASYA,GÖYNÜCEK,9554442880,Mesken,117.49,NaN,117.49,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OCK 2023,AMASYA,GÖYNÜCEK,6031642522,Mesken,170.30,170.30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_tahsilat_1.describe()

,Söz.hsp.(bağımsız),Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),Son Ödeme (3),Son Ödeme (4),Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
count,9.176320e+05,9.176320e+05,623908.000000,328193.000000,20902.000000,21664.000000,18893.000000,16995.000000,7323.000000,45708.000000,48281.000000,29005.000000,23030.000000,7.184000e+03,3820.000000,2302.000000,1551.000000,4827.000000
mean,5.010893e+09,5.085794e+02,206.312521,547.264676,643.061367,553.709882,414.438863,536.363810,516.075436,558.643866,583.558553,801.017507,918.617756,1.257710e+03,671.639885,322.164222,393.359884,159.776611
std,2.883691e+09,5.052666e+03,2855.301668,3898.724314,5454.365338,5123.756510,2650.055196,6242.186627,3451.492687,6666.262578,7178.350454,7154.314816,7105.333937,2.007415e+04,5979.226329,3220.519683,5264.099250,2619.161924
min,1.758320e+05,-1.279328e+04,-12793.280000,0.000000,-70.000000,-296.930000,-120.600000,0.000000,-752.000000,-100.660000,-962.000000,0.000000,-6837.000000,-7.010000e+02,-770.000000,-349.000000,0.000000,-15206.880000
25%,2.513721e+09,1.101500e+02,0.320000,116.600000,125.610000,112.922500,119.000000,116.905000,115.000000,121.905000,115.000000,109.000000,77.000000,4.285750e+01,30.330000,24.125000,23.000000,13.470000
50%,5.009565e+09,2.020700e+02,44.220000,210.990000,222.000000,211.000000,203.000000,208.070000,218.540000,213.590000,210.000000,220.880000,172.955000,1.070000e+02,76.000000,55.370000,49.000000,32.000000
75%,7.509497e+09,3.215700e+02,210.220000,334.270000,349.977500,333.000000,320.000000,329.865000,344.985000,330.000000,334.000000,382.470000,320.987500,2.195575e+02,164.000000,124.130000,106.500000,76.000000
max,9.999760e+09,1.173258e+06,799298.890000,429056.570000,393238.000000,319120.000000,152377.000000,560239.000000,158004.450000,550420.870000,550859.750000,694275.910000,221781.470000,1.051591e+06,150233.960000,89285.680000,169410.490000,141070.520000

In [22]:
zamanlama_sutunlari = [
    'Son Ödeme Tarihinden Önceki Tahsilat',
    'Son Ödeme Tarihindeki Tahsilat',
    'Son Ödeme (1)',
    'Son Ödeme (2)',
    'Son Ödeme (3)',
    'Son Ödeme (4)',
    'Son Ödeme (5)',
    'Son Ödeme (6-10)',
    'Son Ödeme (10-20)',
    'Son Ödeme (20-30)',
    'Son Ödeme (30-60)',
    'Son Ödeme (60-90)',
    'Son Ödeme (90-120)',
    'Son Ödeme (120-150)',
    'Son Ödeme (150-180)',
    'Son Ödeme (180+)'
]

df_tahsilat_1[zamanlama_sutunlari] = df_tahsilat_1[zamanlama_sutunlari].fillna(0)

In [25]:
print(df_tahsilat_1[zamanlama_sutunlari].isna().sum())

Son Ödeme Tarihinden Önceki Tahsilat    0
Son Ödeme Tarihindeki Tahsilat          0
Son Ödeme (1)                           0
Son Ödeme (2)                           0
Son Ödeme (3)                           0
Son Ödeme (4)                           0
Son Ödeme (5)                           0
Son Ödeme (6-10)                        0
Son Ödeme (10-20)                       0
Son Ödeme (20-30)                       0
Son Ödeme (30-60)                       0
Son Ödeme (60-90)                       0
Son Ödeme (90-120)                      0
Son Ödeme (120-150)                     0
Son Ödeme (150-180)                     0
Son Ödeme (180+)                        0
dtype: int64

In [26]:
df_tahakkuk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124818 entries, 0 to 124817
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 124818 non-null  object
 1   ilce               124818 non-null  object
 2   sozlesme_hesap_no  124818 non-null  int64
 3   mali_yil_donem     124818 non-null  object
 4   fatura_tarihi      124818 non-null  object
 5   kayit_tarihi       124818 non-null  object
 6   vade_tarihi        124818 non-null  object
 7   hesap_sinifi       124818 non-null  object
 8   Hesap Sınıfı       124818 non-null  object
 9   kwh                124818 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 9.5+ MB

In [27]:
df_tahakkuk.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,1.79
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,2.60
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,1.23
3,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,2.56
4,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,1.35

In [28]:
df_tahakkuk.describe()

       sozlesme_hesap_no            kwh
count       1.248180e+05  124818.000000
mean        5.044916e+09      70.874619
std         2.874544e+09     389.217875
min         2.903944e+06   -1242.990000
25%         2.577471e+09      15.490000
50%         5.027442e+09      40.560000
75%         7.594090e+09      70.430000
max         9.991894e+09   25941.600000

In [29]:
df_tahakkuk_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765657 entries, 0 to 765656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 765657 non-null  object
 1   ilce               765657 non-null  object
 2   sozlesme_hesap_no  765657 non-null  int64
 3   mali_yil_donem     765657 non-null  object
 4   fatura_tarihi      765657 non-null  object
 5   kayit_tarihi       765657 non-null  object
 6   vade_tarihi        765657 non-null  object
 7   hesap_sinifi       765657 non-null  object
 8   Hesap Sınıfı       765657 non-null  object
 9   kwh                765657 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 58.4+ MB

In [30]:
df_tahakkuk_1.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-01-11,2023-03-06,2023-01-23,M001,Mesken,21.85
1,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,44.50
2,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,22.25
3,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,45.71
4,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,25.40

In [31]:
df_tahakkuk_1.describe()

       sozlesme_hesap_no            kwh
count       7.656570e+05  765657.000000
mean        5.019916e+09      97.336632
std         2.881724e+09    1077.758336
min         2.561140e+05  -25370.640000
25%         2.519995e+09      18.570000
50%         5.030422e+09      48.310000
75%         7.517065e+09      82.720000
max         9.998331e+09  153575.730000

In [32]:
df_tahakkuk_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295223 entries, 0 to 295222
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 295223 non-null  object
 1   ilce               295223 non-null  object
 2   sozlesme_hesap_no  295223 non-null  int64
 3   mali_yil_donem     295223 non-null  object
 4   fatura_tarihi      295223 non-null  object
 5   kayit_tarihi       295223 non-null  object
 6   vade_tarihi        295223 non-null  object
 7   hesap_sinifi       295223 non-null  object
 8   Hesap Sınıfı       295223 non-null  object
 9   kwh                295223 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 22.5+ MB

In [33]:
df_tahakkuk_2.head()

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2023-01-14,2023-03-06,2023-01-24,M001,Mesken,0.10
1,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.12
2,AMASYA,GÖYNÜCEK,9374624783,2023-02-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.20
3,AMASYA,GÖYNÜCEK,9374624783,2023-03-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.00
4,AMASYA,GÖYNÜCEK,9374624783,2023-04-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.08

In [34]:
df_tahakkuk_2.describe()

       sozlesme_hesap_no            kwh
count       2.952230e+05  295223.000000
mean        4.950566e+09      89.669891
std         2.887724e+09     742.276369
min         1.118550e+06   -4208.640000
25%         2.432854e+09      17.860000
50%         4.928206e+09      45.090000
75%         7.475616e+09      77.140000
max         9.997185e+09  105687.690000

In [36]:
import pandas as pd
# Tahakkuk sayfalarını birleştirme
df_listesi = [df_tahakkuk, df_tahakkuk_1, df_tahakkuk_2]
df_toplam_tahakkuk = pd.concat(df_listesi, ignore_index=True)

print(f"Toplam Kayıt Sayısı: {df_toplam_tahakkuk.shape[0]}")

Toplam Kayıt Sayısı: 1185698

In [38]:
onceki_sayi = len(df_toplam_tahakkuk)
df_tahakkuk_temiz = df_toplam_tahakkuk[df_toplam_tahakkuk['kwh'] >= 0].copy()

In [39]:
negatif_sayisi = onceki_sayi - len(df_tahakkuk_temiz)
print(f"\nTemizlenen Negatif kWh Kayıt Sayısı: {negatif_sayisi}")

Temizlenen Negatif kWh Kayıt Sayısı: 151

In [40]:
print("\nGüncel kWh İstatistikleri:")
print(df_tahakkuk_temiz['kwh'].describe())

Güncel kWh İstatistikleri:
count    1.185547e+06
mean     9.274859e+01
std      9.500024e+02
min      0.000000e+00
25%      1.802000e+01
50%      4.663000e+01
75%      8.000000e+01
max      1.535757e+05
Name: kwh, dtype: float64

In [41]:
# Her ilçe için unique müşteri sayısını hesaplama
ilce_bazli_musteri = df_toplam_tahakkuk.groupby('ilce')['sozlesme_hesap_no'].nunique().sort_values(ascending=False)
print("İlçelere Göre Benzersiz Müşteri Sayıları:")
print(ilce_bazli_musteri)

İlçelere Göre Benzersiz Müşteri Sayıları:
ilce
GÜMÜŞHACIKÖY    18190
GÖYNÜCEK         7128
HAMAMÖZÜ         2981
Name: sozlesme_hesap_no, dtype: int64

In [42]:
#Toplam benzersiz müşteri sayısı hesaplama
toplam_benzersiz = df_toplam_tahakkuk['sozlesme_hesap_no'].nunique()
print(f"\nVeri Setindeki Toplam Benzersiz Müşteri Sayısı: {toplam_benzersiz}")

Veri Setindeki Toplam Benzersiz Müşteri Sayısı: 28290

In [45]:
# Hesap sınıfına göre gruplandırma yaparak istatistikleri hesaplama
hesap_sinifi_analizi = df_tahakkuk_temiz.groupby('hesap_sinifi')['kwh'].agg(['mean', 'median', 'std', 'count']).reset_index()
hesap_sinifi_analizi.columns = ['Hesap Sınıfı', 'Ortalama (kWh)', 'Medyan (kWh)', 'Standart Sapma', 'Kayıt Sayısı']
hesap_sinifi_analizi = hesap_sinifi_analizi.sort_values(by='Ortalama (kWh)', ascending=False)

print("Hesap Sınıfı Bazlı Tüketim Analizi:")
display(hesap_sinifi_analizi)

Hesap Sınıfı Bazlı Tüketim Analizi:

   Hesap Sınıfı  Ortalama (kWh)  Medyan (kWh)  Standart Sapma  Kayıt Sayısı
6          A002    30203.431220     36810.900    16963.572539            41
0             1    16594.174857     16186.910    11656.705924            35
3             6    16155.254444       322.320    35926.424902           180
16         S001     7293.799626      1531.680    13716.343807           187
27         T012     5213.509281       400.020     8948.065839           417
34         TA02     3830.021999       282.720     9454.764009          1616
4             7     1195.051389       770.625     1229.579483            36
25         T009     1154.739118       239.905     3804.865088           442
24         T008      883.888739       285.410     1435.311536           476
30         T019      688.441598        23.860     3911.912974          8500
28         T013      676.935305       208.655     1212.334580          2460
2             4      612.972085        78.275     3303.378168          2096
1             3      582.561174       151.120     1693.001272          1371
33         TA01      542.900357        16.165     3627.807816         17256
35         TA03      432.146433       187.500     1131.359035          1127
29         T017      395.160435        74.400      595.389083            46
21         T005      270.340000       228.680      148.809345           124
31         T020      183.485878        89.760      205.340833           279
18         T001      168.017312        41.620      781.529745         91285
15         M009      167.135000        22.115      526.354274            42
19         T002      137.065310        28.445      798.587506          6704
36         TA04      116.848021        24.110      408.549664          1849
10         M003       93.101238        29.585      141.698975           614
17         SE01       87.035189        76.540       56.599681          2671
26         T010       85.358306        79.375       42.120066           124
9          M002       81.283512        56.140      111.164648         10173
13         M007       73.615948        73.865       39.066907           116
8          M001       55.624122        47.370       73.686032       1026503
22         T006       43.780576        13.520       74.313572           243
12         M006       34.289765         9.140       60.020356           383
5          A001       32.435252        13.940      112.225490          3189
7          A003       31.951003        18.390       38.472449           349
32         T021       29.965663        15.760       41.331395          3505
23         T007       22.997456         8.820       42.496725           169
11         M004       10.713755         5.625       16.453958           916
14         M008        9.097143         5.000        9.346247             7
20         T003        1.949375         0.095        3.138306            16